<!DOCTYPE html>
<html>
    <head>
        <title>MadLib</title>
    </head>
    <body>
        
        <h1>WAS it a Good Day??</h1>
        <p>Just waking up in the @Model.GetLocation(), gotta thank @Model.GetFamousPerson().</p>
        <p>I don't know but today seems kinda @Model.GetAdjective1().</p>
        <p>No @Model.GetSound() from the @Model.GetAnimal1(), no smog and momma cooked a breakfast with no @Model.GetAnimal2()</p>
        <p>Got my grub on, but I didn't @Model.GetAnimal3() out.</p>
        <p>Finally got a call from my girl I want to @Model.GetVerb1().</p>
        <p>Hooked it up for later as I hit the door, thinking, <em>will I live to see another @Model.GetTypeOfPerson()?</em></p>
        <p>I gotta go'cause I got me a @Model.GetNoun(), and if I hit the switch I can make the ass @Model.GetVerb2().</p>
        <p>Had to stop at a @Model.GetStore(); lookin in the mirror, not a @Model.GetRace() in sight and everything is @Model.GetGoodBad().</p>
        <p>I got a beep from @Model.GetFamousWoman() and she can @Model.GetVerb3() all night. </p>
        <p>Callin up the @Model.GetGroup() and I'm asking
            y'all "Which @Model.GetPlace() are y'all playin @Model.GetGame()?"</p>
        <p> Get me on the @Model.GetSetting() and I'm trouble.</p>
        <p> Last week, @Model.GetEdVerb()
             around and got a @Model.GetAccomplishment().</p>
        <p> Freakin @Model.GetPluralNoun() every way like @Model.GetAthlete().</p>
        <p> I can't believe today was a @Model.GetAdjective2() day.</p>
        </p>
    </body>
</html>
